body{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	--blue_color: #199afa;
	--main_color: #0e162c;
}
header{
	padding: 15px 0;
	background-color: #fff;
}
main{

}
footer{
<<<<<<< HEAD
	color: blue;
	border: 1px solid blue;
	margin: 15px;
	padding: 15px;
=======
	background-color: var(--blue_color);
	color: #fff;
>>>>>>> e54766f... #5: Done website
}

img{
	max-width: 100%;
}

h1, h2, a{
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}

a{
	text-decoration: none;
	color: inherit;
}
a:visited, a:hover, a:focus{
	text-decoration: none;
}

h3, h4, h5, h6{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	margin: 0 0 15px;
<<<<<<< HEAD
=======
	font-weight: normal;
>>>>>>> e54766f... #5: Done website
}

h2{
	font-size: 40px;
	text-align: center;
	margin: 0 0 60px;
<<<<<<< HEAD
=======
	letter-spacing: 1px;
>>>>>>> e54766f... #5: Done website
}

h3{
	font-size: 30px;
}
ul{
	list-style-type: none;
	line-height: 2em;
	padding: 0;
	margin: 0;
}

@media only screen and (max-width: 1500px){
	h2{
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 800px){
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 24px;
	}
	ul{
		font-size: 14px;
	}
}

/* General */
.container{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.icon{
	vertical-align: middle;
}

/* Header */
<<<<<<< HEAD
.header-container{
=======
.header-container, .footer-container {
>>>>>>> e54766f... #5: Done website
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.title{
	text-transform: uppercase;
	font-size: 25px;
	margin-left: 20px;
}
.menu-link, .title, .right-header-block a{
	color: var(--blue_color);
}
<<<<<<< HEAD
=======
.right-footer-block a{
	color: #fff;
}
.left-footer-block .title {
	color: #fff;
}
>>>>>>> e54766f... #5: Done website
.phone{
	font-size: 18px;
}

.phone .icon{
	margin-right: 10px
}
.social-link{
	margin-right: 10px
}
.social-link:last-of-type{
	margin: 0;
}
<<<<<<< HEAD
.left-header-block, .right-header-block{
	display: flex;
}
.left-header-block{
	align-items: center;
}
.right-header-block{
=======
.left-header-block, .right-header-block, .left-footer-block, .right-footer-block {
	display: flex;
}
.left-header-block, .left-footer-block{
	align-items: center;
}
.right-header-block, .right-footer-block{
>>>>>>> e54766f... #5: Done website
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
}

.menu-wrapper{
	position: absolute;
	padding: 20px 0;
	z-index: 1;
}
.menu-link{
	padding: 10px 20px;
	margin-right: 10px;
	transition: .3s ease-out;
	text-transform: uppercase;
	font-size: 17px;
	border-radius: 10px;
	border: 1px solid transparent;
}
.menu-link:first-of-type{
	margin-left: -20px;
}
.menu-link:hover{
	border-color: var(--blue_color);
	background-color: var(--blue_color);
	color: #fff;
}

@media only screen and (max-width: 1100px){
	.menu-link {
    padding: 5px 10px;
		font-size: 14px;
	}
	.menu-link:first-of-type {
    margin-left: -10px;
	}
	.menu-wrapper {
    padding: 10px 0;
	}
}

@media only screen and (max-width: 767px){
<<<<<<< HEAD
	.header-container{
		grid-template-columns: 1fr;
	}
	.right-header-block{
		margin-top: 10px;
=======
	.header-container, .footer-container {
		grid-template-columns: 1fr;
	}
	.right-header-block, .right-footer-block{
		margin-top: 10px;
		align-items: flex-start;
	}
	.phone{
		margin-bottom: 7px;
>>>>>>> e54766f... #5: Done website
	}
	.title{
		font-size: 18px;
		margin-left: 15px;
	}
	.left-header-block img{
		max-width: 60px;
	}
<<<<<<< HEAD
	.menu-wrapper{
		position: relative;
		text-align: center;
	}
	.menu-link{
		margin: 0;
=======
	.left-footer-block img{
		max-width: 60px;
	}
	.menu-wrapper{
		position: relative;
		text-align: center;
		display: flex;
		justify-content: space-between;
	}
	.menu-link{
		margin: 0;
		padding: 0;
		width: 25%;
>>>>>>> e54766f... #5: Done website
		line-height: 2em;
	}
	.menu-link:first-of-type {
	  margin-left: 0;
	}
}

@media only screen and (max-width: 325px){
	.menu-link{
<<<<<<< HEAD
		padding: 5px 7px;
=======
		font-size: 12px;
>>>>>>> e54766f... #5: Done website
	}
	.title {
	  font-size: 16px;
	  margin-left: 10px;
	}
}

/* Main section */

.surgeon-photo-section{
	position: relative;
}

.surgeon-photo{
	display: block;
	width: 100%;
}

.sps-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: var(--main_color);
	letter-spacing: 2px;
}

.name{
	font-size: 40px;
	margin: 0 0 25px;
	text-transform: uppercase;
}

.info{
	font-size: 30px;
	margin: 0;
	text-transform: uppercase;
}

.skills{
	margin: 7vh auto;
	font-size: 17px;
	letter-spacing: 1px;
	display: grid;
	grid-column-gap: 100px;
  grid-template-columns: repeat(3, 1fr);
}

.skill{
	display: flex;
	align-items: center;
}
.skill p{
	margin-left: 30px;
}

@media only screen and (max-width: 1500px){
	.name, .info {
	  max-width: 50%;
	  text-align: center;
	}
}

@media only screen and (max-width: 1100px){
	.skills{
		font-size: 14px;
<<<<<<< HEAD
		grid-gap: 15px;
=======
		grid-gap: 20px;
>>>>>>> e54766f... #5: Done website
		margin: 2vh auto;
	}
}

@media only screen and (max-width: 800px){
	.skill {
<<<<<<< HEAD
    flex-direction: column;
    text-align: center;
=======
    text-align: left;
		display: grid;
		grid-template-columns: 1fr 2fr;
>>>>>>> e54766f... #5: Done website
	}
	.skill p{
		margin-left: 0;
	}
	.name{
		font-size: 30px;
	}
	.info {
    font-size: 20px;
	}
}

@media only screen and (max-width: 767px){
	.skills{
		grid-template-columns: 1fr;
    margin: 5vh auto;
	}
	.sps-container{
		position: relative;
		margin-top: 15px;
	}
	.name, .info {
    max-width: 100%;
	}
	.surgeon-photo {
    min-height: 50vh;
    object-fit: cover;
    object-position: right;
	}
	.name {
	  font-size: 24px;
		margin: 0 0 15px;
	}
	.info {
	  font-size: 18px;
	}
}

/* About section */
.about-surgeon-section{
<<<<<<< HEAD
	background-color: #d3daec;
=======
	background-color: #effaff;
>>>>>>> e54766f... #5: Done website
	padding: 90px 0;
}
.about-container{
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-gap: 90px;
	padding-bottom: 90px;
}
.about-slide img{
	width: 100%;
}
.about-slider-container{
	position: relative;
}
.custom-slider-nav{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.about-slide{
	margin: 0 15px;
}
.slick-list{
	margin: 0 -15px;
}
.custom-slider-nav img{
	width: 20px;
}
.custom-slider-nav.prev{
	left: -50px;
}
.custom-slider-nav.next{
	right: -50px;
}
.about-text p{
	line-height: 2;
	font-size: 20px;
	margin: 0;
}

@media only screen and (max-width: 1500px){
	.about-surgeon-section{
		padding: 60px 0;
	}
	.about-container{
		grid-gap: 60px;
		padding-bottom: 60px;
	}
}

@media only screen and (max-width: 1100px){
	.about-slider-container{
		max-width: 80%;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 800px){
	.about-surgeon-section{
		padding: 30px 0;
	}
	.about-container{
		grid-gap: 30px;
		padding-bottom: 30px;
		grid-template-columns: 1fr 1fr;
	}
	.about-text p{
		font-size: 14px;
	}
}
@media only screen and (max-width: 767px){
	.about-container {
    grid-gap: 15px;
    padding-bottom: 15px;
    grid-template-columns: 1fr;
	}
	.about-surgeon-section{
		padding: 15px 0;
	}
<<<<<<< HEAD
=======
	.custom-slider-nav.next {
	  right: -35px;
	}
	.custom-slider-nav.prev {
	  left: -35px;
	}
>>>>>>> e54766f... #5: Done website
}

/* Services section */
.services-section{
	background-color: #0e162c;
	padding: 90px 0;
	color: white;
}
.services-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 200px;
	grid-row-gap: 60px;
}
.servise-block{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}
.sb-text-block h3{
	visibility: hidden;
}
.sb-image-block h3{
	text-align: center;
}
.sb-image-block img{
	width: 100%;
}

@media only screen and (max-width: 1500px){
	.services-section{
		padding: 60px 0;
	}
	.services-container{
		grid-row-gap: 30px;
	}
}

@media only screen and (max-width: 1100px){
	.services-container{
		grid-column-gap: 15px;
	}
	.servise-block{
		grid-gap: 15px;
	}
}

@media only screen and (max-width: 800px){
	.services-section{
		padding: 30px 0;
	}
	.services-container{
		grid-row-gap: 15px;
	}
}

@media only screen and (max-width: 767px){
	.services-container {
    grid-template-columns: 1fr;
	}
	.servise-block {
    display: grid;
    grid-template-columns: 2fr 3fr;
	}
}
<<<<<<< HEAD
=======

/* Testimonials section */
.testimonials-section {
	background-color: #effaff;
	padding: 90px 0;
}
.testimonials-slider .slick-list {
	margin: 0 -50px;
  padding: 30px 0;
  margin-top: -30px;
}
.testimonial-slide {
	margin: 0 50px;
	background: #fff;
  padding: 20px;
	text-align: center;
  box-shadow: 6px 6px 23px 0px #d6d6d6;
}
.testimonials-slider-container {
	position: relative;
}
.testimonials-slider-container .custom-slider-nav.prev {
	left: 50px;
	z-index: 1;
}
.testimonials-slider-container .custom-slider-nav.next {
	right: 50px;
	z-index: 1;
}
.testimonial-photo {
	border-radius: 50%;
	width: 220px;
	height: 220px;
	object-fit: cover;
	margin: 25px auto;
}
.testimonial-text {
  line-height: 2em;
}

@media only screen and (max-width: 1500px) {
	.testimonials-section {
    padding: 60px 0;
	}
}

@media only screen and (max-width: 1100px){
	.testimonials-slider .slick-list {
		margin: -30px -15px 0;
	}
	.testimonial-slide {
		margin: 0 25px;
	  box-shadow: 6px 6px 13px 0px #d6d6d6;
	}
	.testimonials-slider-container {
		max-width: 90%;
		margin: 0 auto;
	}
	.testimonials-slider-container .custom-slider-nav.prev {
		left: -35px;
	}
	.testimonials-slider-container .custom-slider-nav.next {
		right: -35px;
	}
}

@media only screen and (max-width: 800px) {
	.testimonials-section {
    padding: 30px 0;
	}
	.testimonial-photo {
		width: 200px;
		height: 200px;
    margin-top: 0;
	}
	.testimonial-text {
		font-size: 14px;
		margin: 0;
	}
}

@media only screen and (max-width: 767px){
	.testimonials-slider-container .custom-slider-nav.prev {
		left: -25px;
	}
	.testimonials-slider-container .custom-slider-nav.next {
		right: -25px;
	}
}

/* Footer container */
.contacts-section{
	position: relative;
}
.contacts-section iframe{
  min-height: 70vh;
}
.footer-container{
	padding: 15px;
}
.footer-container .icon{
	filter: contrast(100) grayscale(1) contrast(100);
}
.footer-logo{
	border: 2px solid white;
	border-radius: 15px;
}
.contacts-header{
	padding: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.contacts-header h2{
	margin: 0;
	text-align: left;
}
.contacts-header p{
	text-align: right;
	font-size: 18px;
	margin: 5px 0;
}

@media only screen and (max-width: 1100px){
	.contacts-section iframe {
	  min-height: 45vh;
	}
}

@media only screen and (max-width: 800px){
	.contacts-header{
		grid-template-columns: 1fr;
	}
	.contacts-header p {
    text-align: left;
	}
}
>>>>>>> e54766f... #5: Done website
