body{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	--blue_color: #199afa;
	--main_color: #0e162c;
}
header{
	padding: 15px 0;
	background-color: #fff;
}
main{

}
footer{
	color: blue;
	border: 1px solid blue;
	margin: 15px;
	padding: 15px;
}

img{
	max-width: 100%;
}

h1, h2, a{
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}

a{
	text-decoration: none;
	color: inherit;
}
a:visited, a:hover, a:focus{
	text-decoration: none;
}

h3, h4, h5, h6{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	margin: 0 0 15px;
}

h2{
	font-size: 40px;
	text-align: center;
	margin: 0 0 60px;
}

h3{
	font-size: 30px;
}
ul{
	list-style-type: none;
	line-height: 2em;
	padding: 0;
	margin: 0;
}

@media only screen and (max-width: 1500px){
	h2{
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 800px){
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 24px;
	}
	ul{
		font-size: 14px;
	}
}

/* General */
.container{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.icon{
	vertical-align: middle;
}

/* Header */
.header-container{
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.title{
	text-transform: uppercase;
	font-size: 25px;
	margin-left: 20px;
}
.menu-link, .title, .right-header-block a{
	color: var(--blue_color);
}
.phone{
	font-size: 18px;
}

.phone .icon{
	margin-right: 10px
}
.social-link{
	margin-right: 10px
}
.social-link:last-of-type{
	margin: 0;
}
.left-header-block, .right-header-block{
	display: flex;
}
.left-header-block{
	align-items: center;
}
.right-header-block{
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
}

.menu-wrapper{
	position: absolute;
	padding: 20px 0;
	z-index: 1;
}
.menu-link{
	padding: 10px 20px;
	margin-right: 10px;
	transition: .3s ease-out;
	text-transform: uppercase;
	font-size: 17px;
	border-radius: 10px;
	border: 1px solid transparent;
}
.menu-link:first-of-type{
	margin-left: -20px;
}
.menu-link:hover{
	border-color: var(--blue_color);
	background-color: var(--blue_color);
	color: #fff;
}

@media only screen and (max-width: 1100px){
	.menu-link {
    padding: 5px 10px;
		font-size: 14px;
	}
	.menu-link:first-of-type {
    margin-left: -10px;
	}
	.menu-wrapper {
    padding: 10px 0;
	}
}

@media only screen and (max-width: 767px){
	.header-container{
		grid-template-columns: 1fr;
	}
	.right-header-block{
		margin-top: 10px;
	}
	.title{
		font-size: 18px;
		margin-left: 15px;
	}
	.left-header-block img{
		max-width: 60px;
	}
	.menu-wrapper{
		position: relative;
		text-align: center;
	}
	.menu-link{
		margin: 0;
		line-height: 2em;
	}
	.menu-link:first-of-type {
	  margin-left: 0;
	}
}

@media only screen and (max-width: 325px){
	.menu-link{
		padding: 5px 7px;
	}
	.title {
	  font-size: 16px;
	  margin-left: 10px;
	}
}

/* Main section */

.surgeon-photo-section{
	position: relative;
}

.surgeon-photo{
	display: block;
	width: 100%;
}

.sps-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: var(--main_color);
	letter-spacing: 2px;
}

.name{
	font-size: 40px;
	margin: 0 0 25px;
	text-transform: uppercase;
}

.info{
	font-size: 30px;
	margin: 0;
	text-transform: uppercase;
}

.skills{
	margin: 7vh auto;
	font-size: 17px;
	letter-spacing: 1px;
	display: grid;
	grid-column-gap: 100px;
  grid-template-columns: repeat(3, 1fr);
}

.skill{
	display: flex;
	align-items: center;
}
.skill p{
	margin-left: 30px;
}

@media only screen and (max-width: 1500px){
	.name, .info {
	  max-width: 50%;
	  text-align: center;
	}
}

@media only screen and (max-width: 1100px){
	.skills{
		font-size: 14px;
		grid-gap: 15px;
		margin: 2vh auto;
	}
}

@media only screen and (max-width: 800px){
	.skill {
    flex-direction: column;
    text-align: center;
	}
	.skill p{
		margin-left: 0;
	}
	.name{
		font-size: 30px;
	}
	.info {
    font-size: 20px;
	}
}

@media only screen and (max-width: 767px){
	.skills{
		grid-template-columns: 1fr;
    margin: 5vh auto;
	}
	.sps-container{
		position: relative;
		margin-top: 15px;
	}
	.name, .info {
    max-width: 100%;
	}
	.surgeon-photo {
    min-height: 50vh;
    object-fit: cover;
    object-position: right;
	}
	.name {
	  font-size: 24px;
		margin: 0 0 15px;
	}
	.info {
	  font-size: 18px;
	}
}

/* About section */
.about-surgeon-section{
	background-color: #d3daec;
	padding: 90px 0;
}
.about-container{
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-gap: 90px;
	padding-bottom: 90px;
}
.about-slide img{
	width: 100%;
}
.about-slider-container{
	position: relative;
}
.custom-slider-nav{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.about-slide{
	margin: 0 15px;
}
.slick-list{
	margin: 0 -15px;
}
.custom-slider-nav img{
	width: 20px;
}
.custom-slider-nav.prev{
	left: -50px;
}
.custom-slider-nav.next{
	right: -50px;
}
.about-text p{
	line-height: 2;
	font-size: 20px;
	margin: 0;
}

@media only screen and (max-width: 1500px){
	.about-surgeon-section{
		padding: 60px 0;
	}
	.about-container{
		grid-gap: 60px;
		padding-bottom: 60px;
	}
}

@media only screen and (max-width: 1100px){
	.about-slider-container{
		max-width: 80%;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 800px){
	.about-surgeon-section{
		padding: 30px 0;
	}
	.about-container{
		grid-gap: 30px;
		padding-bottom: 30px;
		grid-template-columns: 1fr 1fr;
	}
	.about-text p{
		font-size: 14px;
	}
}
@media only screen and (max-width: 767px){
	.about-container {
    grid-gap: 15px;
    padding-bottom: 15px;
    grid-template-columns: 1fr;
	}
	.about-surgeon-section{
		padding: 15px 0;
	}
}

/* Services section */
.services-section{
	background-color: #0e162c;
	padding: 90px 0;
	color: white;
}
.services-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 200px;
	grid-row-gap: 60px;
}
.servise-block{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}
.sb-text-block h3{
	visibility: hidden;
}
.sb-image-block h3{
	text-align: center;
}
.sb-image-block img{
	width: 100%;
}

@media only screen and (max-width: 1500px){
	.services-section{
		padding: 60px 0;
	}
	.services-container{
		grid-row-gap: 30px;
	}
}

@media only screen and (max-width: 1100px){
	.services-container{
		grid-column-gap: 15px;
	}
	.servise-block{
		grid-gap: 15px;
	}
}

@media only screen and (max-width: 800px){
	.services-section{
		padding: 30px 0;
	}
	.services-container{
		grid-row-gap: 15px;
	}
}

@media only screen and (max-width: 767px){
	.services-container {
    grid-template-columns: 1fr;
	}
	.servise-block {
    display: grid;
    grid-template-columns: 2fr 3fr;
	}
}
